@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap");

/*
Gray Background: #38373e
Light Gray Words: #fefefe
Darker Gray Words: #d9d8de
Red Accent: #ce3c4d
Muted: #7b797b
*/

h1 {
  font-family: "Overpass Mono", monospace;
  color: #fefefe;
}

h2 {
  font-family: "Overpass Mono", monospace;
  color: #fefefe;
}

p {
  font-family: "Overpass Mono", monospace;
  color: #d9d8de;
  font-size: 20px;
}

a {
  color: #d9d8de;
}

a:hover {
  color: #ce3c4d;
  text-decoration: none;
}

body {
  background-color: #38373e;
}

main {
  padding-left: 5%;
  padding-right: 5%;
}

/* Sections */

#intro {
  padding-bottom: 4%;
}

#bio {
  padding-bottom: 4%;
}

/* Border and Rectangle */

.border-white {
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
}

.rect-parent {
  position: relative;
}

.rect {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 40px;
  border: 3px solid #ce3c4d;
}

.rect-inverted {
  position: relative;
  top: -35px;
  left: 35px;
}

.rect-top {
  z-index: 3;
  position: absolute;
  top: 0px;
}
