@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap");

/*
Gray Background: #38373e
Light Gray Words: #fefefe
Darker Gray Words: #d9d8de
Red Accent: #ce3c4d
Muted: #7b797b
*/

h1 {
  font-family: "Overpass Mono", monospace;
  color: #fefefe;
}

p {
  font-family: "Overpass Mono", monospace;
  color: #d9d8de;
  font-size: 20px;
}

a {
  color: #d9d8de;
}

a:hover {
  color: #ce3c4d;
  text-decoration: none;
}

body {
  background-color: #38373e;
}

/* Border and Rectangle */

.border-white {
  border-style: solid;
  border-width: 5px;
  border-color: #fefefe;
}

.rect-parent {
  position: relative;
  top: 0;
  left: 0;
}

.rect {
  position: relative;
  top: -35px;
  left: -50px;
}

.rect-top {
  position: absolute;
  top: 0px;
  left: 0px;
}
